crontab -e

# Update everyday at 2 AM
0 2 * * * /home/troyedmonds/auto_update.sh >> /home/troyedmonds/auto_update.log 2>&1

# Backup every day at 2 AM
0 2 * * * ~/automation/backup.sh

# Mount Partitions at Boot
@reboot ~/automation/mount_partitions.sh

# Start VM at Boot(Not active Yet)
@reboot ~/automation/manage_vms.sh

# Stop VM at 5 PM
0 17 * * * ~/automation/manage_vms.sh

# Run Log Hourly 
0 * * * * /path/to/log_script.sh

# Clean up temporary files every Sunday at 3 AM
0 3 * * 0 ~/automation/cleanup_temp.sh








